<ion-header>
    <ion-navbar>
        <ion-title>{{selectedUser.name.first}} {{selectedUser.name.last}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
        <ion-item overflow-scroll="false" text-center>
           
            <img class="big-avatar" src="{{selectedUser.picture.large}}">  
          
            <h1 *ngIf="selectedUser">
                {{selectedUser.name.first}} {{selectedUser.name.last}}
            </h1>
        </ion-item>
       
            <ion-item>
                <ion-icon name="md-at" item-left></ion-icon>
                <p *ngIf="selectedUser">
                    {{selectedUser.email}}
                </p>
            </ion-item>
            <ion-item>
                    <ion-icon name="md-ionitron" item-left></ion-icon>
                <p>
                    {{day}}/{{mt}}/{{year}}
                </p>
            </ion-item>
            <ion-item>
                <ion-icon name="ios-call" item-left></ion-icon>
                <p *ngIf="selectedUser"> 
                    Tel: {{selectedUser.phone}}<br>
                    Cel: {{selectedUser.cell}}
                </p>
            </ion-item>
            <ion-item>
                <ion-icon name="md-map" item-left></ion-icon>
                <p *ngIf="selectedUser">    
                    {{selectedUser.location.street}}, {{selectedUser.location.city}}, {{selectedUser.location.state}}
                </p>
                <p *ngIf="selectedUser">
                    Postal code: {{selectedUser.location.postcode}}
                </p>
            </ion-item>
            
            <div id="map_canvas"> 
            </div>
            
       
</ion-content>
      